header {
  top: 0%;
  /* left: 0%; */
  width: 100%;
  margin: 0 auto;
  position: fixed;
}

body {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.topnav {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  position: fixed;
  padding: 10px;
  top: 0%;
  left: 0;
  float: right;
  border-bottom: #cccccc 2px solid;
  over
} 

.topnav a {
  float: right;
}

h1 {
  background-color: #4aaaa5;
  color: #ffffff;
  width: 200px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  padding: 22px;
  align-content: center;
  /* position: absolute; */
  position: relative;
  /* top: 0%; */
  left: 75px;
  top: -20px;
  /* top: 0; */
  /* bottom: 0; */
} 

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5
}

/* .underline {
  border-bottom: 1px solid #777777;
  display: inline-block;
  line-height: 50px;
} */

#Heading {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5
}

#content {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 650px;
  float: left;
  background-color: #ffffff;
  color: #777777;
  border: solid .5px;
  border-color: #dddddd;
  padding: 10px;
  position: relative;
  margin-top: 100px;
}

.mainphoto {
  float: left;
}

#connect {
  width: 270px;
  float: right;
  color: #4aaaa5;
  background-color: #ffffff;
  border: solid .5px;
  border-color: #dddddd;
  text-align: center;
  padding: 10px 0px 30px 0px;
  position: relative;
  margin-top: 100px;
}

#footer {
  background-color: #666666;
  width: 100%;
  padding: 15px;
  bottom: 0%;
  right: 0%;
  left: 0%;
  position: fixed;
  text-align: center;
  border-top: solid 8px #4aaaa5;
  font-size: 8px; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #cccccc;
}